/* Follow Us */
#followUs {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

#followUs .description,
#cellarEssentials .description {
  justify-content: start;
  margin-top: 70px;
}

#photoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

#photoGrid img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 576px) {
    #followUs{
        flex-direction: column;
        margin-top: 0;
    }

    #photoGrid{
        margin-top: 26px;
        grid-template-columns: 1fr 1fr;
        gap: 1px;
        padding: 0 19px;
    }
}
