/* Footer */
.footer {
  border-top: 1px solid #b7926a;
  padding-top: 100px;
  padding-bottom: 80px;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 140px;
}

#footerInfoLogo {
  font-family: "Cormorant";
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 24px;
}

#footerInfoTitle {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

#footerInfoSubtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 0;
}

#footerInfo form {
  width: 340px;
  display: flex;
  flex-direction: column;
}

#footerInfo form label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

#footerInfo form input {
  border: none;
  border-bottom: 0.5px solid #b7926a;
  margin-bottom: 24px;
  padding: 12px 0;
}

#footerInfo form button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  color: #1c1c1c;
  border: 0.5px solid #1c1c1c;
  background-color: transparent;
  margin-bottom: 30px;
}

#footerSocialMedia img {
  padding-right: 15.3px;
}

#footerOptions {
  display: flex;
  justify-content: space-between;
}

#footerOptions > div {
  margin-right: 113px;
  width: 100%;
}

#footerOptions > div > p {
  width: 100%;
  border-bottom: 1px solid #b7926a;
  color: #b7926a;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 17px;
  text-transform: uppercase;
}

#customerService > div {
  padding: 10px 0;
}

.service-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #b7926a;
  line-height: 24px;
}

.service-details {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #1c1c1c;
  line-height: 24px;
}

#information ul,
#more ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}

#footerSocialMediaMobile{
  display: none;
}

.footerOptions-button{
  display: none;
}

/* Copyright */
.copyright p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  padding: 10px 0;
}

@media only screen and (max-width: 576px) {
  .footer > .container {
    grid-template-columns: 1fr;
    gap: 0;
    width: 100%;
  }

  .footer,
  .copyright {
    padding: 0 19px;
    border: none;
  }

  #footerInfoLogo,
  #footerSocialMedia {
    display: none;
  }

  #footerInfoTitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
  }

  #footerInfoSubtitle {
    font-size: 14px;
    line-height: 17px;
  }

  #footerInfo form {
    width: 100%;
  }

  #footerInfo form label {
    line-height: 21px;
    font-weight: bold;
  }

  #footerInfo form button {
    padding: 12px 0;
  }

  #footerOptions{
    flex-direction: column;
  }

  #customerService,
  #information,
  #more{
    display: none;
  }

  .footerOptions-button{
    width: 100%;
    padding: 10px 0;
    display: flex;
  }

  .footerOptions-button button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    border-bottom: 1px solid #ededed;
    padding: 20px 10px;
    align-items: center;
  }

  #footerOptions > div{
    flex-direction: column;
    margin: 0;
  }

  #footerOptions > div > p{
    display: none;
  }

  #footerSocialMediaMobile{
    display: flex;
    margin-top: 40px;
  }

  #footerSocialMediaMobile img{
    padding-right: 15.3px;
  }

  .copyright{
    padding: 0;
    width: 100%;
  }

  .copyright p{
    padding: 11px 19px;
    font-size: 14px;
    line-height: 40px;
  }
}
