/* Location */
#location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 113px 0;
}

#street {
  background-color: #202020;
  position: relative;
}

#street > img {
  width: 100%;
  height: 100%;
  min-height: 355px;
}

#streetDetails {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#streetDetails img {
  margin-bottom: 36px;
}

#streetDetails #locationTitle {
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

#streetDetails #streetLocation {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 400;
  color: #b7926a;
  line-height: 30px;
}

#mapLocation, #mapLocation iframe{
  width: 100%;
  height: 100%;
  min-height: 355px;
}

@media only screen and (max-width: 576px) {
    #location{
        grid-template-columns: 1fr;
        margin: 33px 0;
        padding: 0 19px;
    }

    #streetDetails img {
        margin-bottom: 0;
        width: 30px;
      }

    #streetDetails #locationTitle{
        line-height: 23px;
        padding: 14px 0;
        font-size: 18px;
    }

    #streetDetails #streetLocation {
        line-height: 18px;
        font-size: 12px;
    }
}
