/* Merchant's Pick */
#merchantsPick {
  margin-top: 57px;
  display: flex;
}

.carousel{
  display: flex;
}

.carousel {
  width: 100%;
  justify-content: end;
}

.carousel-images {
  margin: 0 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carousel-images img, .carousel-images > div, #wine1, #wine1>img {
  width: 100%;
  height: 100%;
}

#leftButton,
#rightButton {
  width: 24px;
  height: 24px;
  margin: auto 0;
}

#leftButton button, #rightButton button{
  background-color: transparent;
  border: none;
}

#wine1 img{
  width: 100%;
  height: 100%;
}

#wine1Details {
  position: relative;
}

#wine1Details #rectangle{
  width: 100%;
  height: 100%;
}

#objectBackground {
  width: 95%;
  height: 95%;
}

#objectBackground,
#wine1Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wine1Content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#wine1Title {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: clamp(18px, 2vw, 24px);
  color: #b7926a;
}

#wine1Subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: clamp(12px, 1vw, 16px);
  color: #fff;
  margin-top: 22px;
}

#wine1Content img {
  width: 92px;
  margin: 33px auto;
}

#wine1Button {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 13px;
  border: 0.55px solid #b7926a;
  background-color: transparent;
  color: #b7926a;
  width: 100px;
  margin: 0 auto;
  padding: 3px 0;
  border-radius: 2.2px;
}

@media only screen and (max-width: 576px) {
    #merchantsPick, .carousel, .carousel-images{
        flex-direction: column;
    }

    .carousel{
      position: relative;
    }

    .carousel #leftButton, .carousel #rightButton{
      position: absolute;
      background-color: #b7926a;
      top: 50%;
      z-index: 1;
      opacity: 0;
      width: 50%;
    }

    .carousel #rightButton{
      right: 0;
    }

    .carousel-images{
        width: 100%;
        margin: 0;
        margin-top: 24px;
        grid-template-columns: 1fr;
    }

    .carousel-images img{
        margin: 0;
    }
}
